<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context" xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <!--Setter Injection for Student Bean-->
    <bean id="Student" class="org.genspark.Student">
        <property name="id" value="14"/>
        <property name="name" value="joe"/>
        <property name="ph">
            <list>
                <bean class="org.genspark.Phone">
                    <property name="mob" value="8084441234"/>
                </bean>
                <bean class="org.genspark.Phone">
                    <property name="mob" value="8084443344"/>
                </bean>
            </list>
        </property>
        <property name="add" ref="Address"/>
    </bean>

    <!-- Construction Injection for Address Bean-->
        <bean id="Address" class="org.genspark.Address">
            <constructor-arg index="0" value="Richmond"/>
            <constructor-arg index="1" value="Virgina"/>
            <constructor-arg index="2" value="United States"/>
            <constructor-arg index="3" value="23221"/>
        </bean>

        <!-- Setter Injection for Address Bean
        <bean id="Address" class="org.genspark.Address">
            <property name="city" value="Richmond"/>
            <property name="state" value="Virgina"/>
            <property name="country" value="United States"/>
            <property name="zipcode" value="23221"/>
        </bean>
        -->

</beans>